<a href="https://colab.research.google.com/github/teyang-lau/coffee-joint-rec-sys/blob/main/FM_LOL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install geopandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: geopandas in /usr/local/lib/python3.7/dist-packages (0.10.2)
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.2)
Requirement already satisfied: fiona>=1.8 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.21)
Requirement already satisfied: pyproj>=2.2.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (3.2.1)
Requirement already satisfied: pandas>=0.25.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.3.5)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (0.7.2)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.1.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: munch in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2.5.0)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2022.5.18.1)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (21.4.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2022.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (1.21.6)

In [2]:
!pip install plotly_express

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: plotly_express in /usr/local/lib/python3.7/dist-packages (0.4.1)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from plotly_express) (0.10.2)
Requirement already satisfied: pandas>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from plotly_express) (1.3.5)
Requirement already satisfied: plotly>=4.1.0 in /usr/local/lib/python3.7/dist-packages (from plotly_express) (5.5.0)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from plotly_express) (1.21.6)
Requirement already satisfied: patsy>=0.5 in /usr/local/lib/python3.7/dist-packages (from plotly_express) (0.5.2)
Requirement already satisfied: scipy>=0.18 in /usr/local/lib/python3.7/dist-packages (from plotly_express) (1.4.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.20.0->plotly_express) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.20.0->plotly_express) (2022.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5->plotly_express) (1.15.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly>=4.1.0->plotly_express) (8.0.1)

In [3]:
!pip install geopy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: geopy in /usr/local/lib/python3.7/dist-packages (1.17.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /usr/local/lib/python3.7/dist-packages (from geopy) (1.52)

In [4]:
!pip install rankfm

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: rankfm in /usr/local/lib/python3.7/dist-packages (0.2.5)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from rankfm) (1.3.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from rankfm) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->rankfm) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->rankfm) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->rankfm) (1.15.0)

In [5]:
import requests
import numpy as np
import pandas as pd
import io

import pandas as pd
import geopandas as gpd
import geopy
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
import matplotlib.pyplot as plt
import plotly_express as px
import tqdm
from tqdm._tqdm_notebook import tqdm_notebook

username = 'tituslhy'
token = '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'
github_session = requests.Session()
github_session.auth = (username,token)
train_url = 'https://raw.githubusercontent.com/teyang-lau/coffee-joint-rec-sys/main/data/processed/train_lol.csv'
val_url = 'https://raw.githubusercontent.com/teyang-lau/coffee-joint-rec-sys/main/data/processed/val_lol.csv'
test_url = 'https://raw.githubusercontent.com/teyang-lau/coffee-joint-rec-sys/main/data/processed/test_lol.csv'
coffee_url = 'https://raw.githubusercontent.com/teyang-lau/coffee-joint-rec-sys/main/data/processed/sg_coffee_shops_final.csv'

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.*` instead of `tqdm._tqdm_notebook.*`

In [6]:
def get_data(url,username=username,token=token):
  download = github_session.get(url).content
  df = pd.read_csv(io.StringIO(download.decode('utf-8')))
  return df

In [7]:
train = get_data(train_url)
train = train[['userid','shop','rating']]
train.rename({'userid':'user_id','shop':'item_id'},axis=1,inplace=True)
train.head()

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

                  user_id                                 item_id  rating
0  -5YMIME_WEin_by41Bj-3Q                  liho-tea-singapore-117     3.0
1  -5YMIME_WEin_by41Bj-3Q          old-hen-coffee-bar-singapore-2     4.0
2  -5YMIME_WEin_by41Bj-3Q           two-men-bagel-house-singapore     4.0
3  -5YMIME_WEin_by41Bj-3Q  old-airport-road-food-centre-singapore     5.0
4  -G1YjYxjDpxOBzFgo36ORA                 the-book-cafe-singapore     3.0

In [8]:
val = get_data(val_url)
val = val[['userid','shop','rating']]
val.rename({'userid':'user_id','shop':'item_id'},axis=1,inplace=True)
val.head()

                  user_id                          item_id  rating
0  -5YMIME_WEin_by41Bj-3Q    dutch-colony-coffee-singapore     4.0
1  -G1YjYxjDpxOBzFgo36ORA          the-providore-singapore     1.0
2  -WShM_YFbtG4OcE0vrFVyw  nylon-coffee-roasters-singapore     4.0
3  -XaIf12ricWc5z5BRt9nnQ   tiong-bahru-bakery-singapore-4     4.0
4  -fUWq6sOIEe1uTUhNKS9sQ                  drips-singapore     4.0

In [9]:
test = get_data(test_url)
test = test[['userid','shop','rating']]
test.rename({'userid':'user_id','shop':'item_id'},axis=1,inplace=True)
test.head()

                  user_id                               item_id  rating
0  -5YMIME_WEin_by41Bj-3Q                        luna-singapore     3.0
1  -G1YjYxjDpxOBzFgo36ORA  common-man-coffee-roasters-singapore     2.0
2  -WShM_YFbtG4OcE0vrFVyw     chye-seng-huat-hardware-singapore     3.0
3  -XaIf12ricWc5z5BRt9nnQ     chye-seng-huat-hardware-singapore     3.0
4  -fUWq6sOIEe1uTUhNKS9sQ                meng-kitchen-singapore     5.0

In [9]:
coffee = get_data(coffee_url)
coffee =coffee[['alias','price','address','latitude','longitude']]
coffee.head()

,alias,price,address,latitude,longitude
0,nylon-coffee-roasters-singapore,$,"4 Everton Park, # 01-40, Singapore 080004, Sin...",1.276810,103.839976
1,five-oars-coffee-roasters-singapore-2,$$,"39 Tanjong Pagar Rd, Singapore 088462, Singapore",1.279030,103.843920
2,the-wired-monkey-singapore-singapore,$,"5 Dunlop St, Singapore 209335, Singapore",1.304320,103.854090
3,glasshouse-singapore,$$,"30 Victoria St, #01-03, CHIJMES, Singapore 187...",1.294508,103.851137
4,tiong-hoe-specialty-coffee-singapore-3,$,"170 Stirling Rd, #01-1133, Singapore 140170, S...",1.290920,103.803080

Geo-binning

In [11]:
from copy import deepcopy
coffee_ = deepcopy(coffee)
coffee_.head()

,alias,price,address,latitude,longitude
0,nylon-coffee-roasters-singapore,$,"4 Everton Park, # 01-40, Singapore 080004, Sin...",1.276810,103.839976
1,five-oars-coffee-roasters-singapore-2,$$,"39 Tanjong Pagar Rd, Singapore 088462, Singapore",1.279030,103.843920
2,the-wired-monkey-singapore-singapore,$,"5 Dunlop St, Singapore 209335, Singapore",1.304320,103.854090
3,glasshouse-singapore,$$,"30 Victoria St, #01-03, CHIJMES, Singapore 187...",1.294508,103.851137
4,tiong-hoe-specialty-coffee-singapore-3,$,"170 Stirling Rd, #01-1133, Singapore 140170, S...",1.290920,103.803080

In [12]:
coffee_['latitude']=coffee_['latitude'].astype(str)
coffee_['longitude']=coffee_['longitude'].astype(str)

In [15]:
geolocator = Nominatim(user_agent="geoapiExercises")
region = []
for i in range(len(coffee_)):
  search = coffee_['latitude'].loc[i]+','+coffee_['longitude'].loc[i]
  location = list(geolocator.geocode(search))
  location = location[0].split(',')
  region.append(location[-3])
  if i%100 ==0:
    print(f'==Processed {i} records out of {len(coffee_)}')
print(region[:5])

==Processed 0 records out of 1000
==Processed 100 records out of 1000
==Processed 200 records out of 1000
==Processed 300 records out of 1000
==Processed 400 records out of 1000
==Processed 500 records out of 1000
==Processed 600 records out of 1000
==Processed 700 records out of 1000
==Processed 800 records out of 1000
==Processed 900 records out of 1000
[' Central', ' Central', ' Central', ' Central', ' Central']

In [16]:
coffee_['region']=region
coffee_.head()

,alias,price,address,latitude,longitude,region
0,nylon-coffee-roasters-singapore,$,"4 Everton Park, # 01-40, Singapore 080004, Sin...",1.276809987029,103.83997606961,Central
1,five-oars-coffee-roasters-singapore-2,$$,"39 Tanjong Pagar Rd, Singapore 088462, Singapore",1.27903,103.84392,Central
2,the-wired-monkey-singapore-singapore,$,"5 Dunlop St, Singapore 209335, Singapore",1.30432,103.85409,Central
3,glasshouse-singapore,$$,"30 Victoria St, #01-03, CHIJMES, Singapore 187...",1.29450802017737,103.85113726683,Central
4,tiong-hoe-specialty-coffee-singapore-3,$,"170 Stirling Rd, #01-1133, Singapore 140170, S...",1.29092,103.80308,Central

In [17]:
coffee_.to_csv('coffee_houses.csv')

Developing item features matrix

In [26]:
coffee_ = pd.read_csv('coffee_houses.csv')
coffee_.columns

Index(['Unnamed: 0', 'alias', 'price', 'address', 'latitude', 'longitude',
       'region'],
      dtype='object')

In [27]:
coffee_.drop(['Unnamed: 0'],axis=1,inplace=True)
coffee_.head()

,alias,price,address,latitude,longitude,region
0,nylon-coffee-roasters-singapore,$,"4 Everton Park, # 01-40, Singapore 080004, Sin...",1.276810,103.839976,Central
1,five-oars-coffee-roasters-singapore-2,$$,"39 Tanjong Pagar Rd, Singapore 088462, Singapore",1.279030,103.843920,Central
2,the-wired-monkey-singapore-singapore,$,"5 Dunlop St, Singapore 209335, Singapore",1.304320,103.854090,Central
3,glasshouse-singapore,$$,"30 Victoria St, #01-03, CHIJMES, Singapore 187...",1.294508,103.851137,Central
4,tiong-hoe-specialty-coffee-singapore-3,$,"170 Stirling Rd, #01-1133, Singapore 140170, S...",1.290920,103.803080,Central

In [28]:
dict(coffee_['region'].value_counts())

{' Central': 765,
 ' Northeast': 17,
 ' Northwest': 51,
 ' Southeast': 104,
 ' Southwest': 59,
 ' ': 4}

In [29]:
coffee_[coffee_['region']==' ']

,alias,price,address,latitude,longitude,region
596,charlie-brown-cafe-singapore-5,$$,"11 Tanjong Katong Rd, #01-52, OneKM Shopping M...",NaN,NaN,
621,cha-tra-mue-no-title,$$,"137 Amoy St, #01-05, Far East Square, Singapor...",NaN,NaN,
658,charlie-brown-cafe-singapore-5,$$,"11 Tanjong Katong Rd, #01-52, OneKM Shopping M...",NaN,NaN,
947,rochor-food-town-singapore,$$,"Singapore, Singapore",NaN,NaN,

In [30]:
print(coffee_[coffee_['address'].str.contains('Tanjong Katong')]['region'])
print('\n',coffee_[coffee_['address'].str.contains('Amoy St')]['region'])

78      Southeast
596
658
692     Southeast
Name: region, dtype: object

 66      Central
197     Central
526     Central
568     Central
572     Central
606     Central
621
768     Central
794     Central
Name: region, dtype: object

In [31]:
#Manual adjustments
coffee_['region'].loc[596] = ' Southeast'
coffee_['region'].loc[621] = ' Central'
coffee_['region'].loc[658] = ' Southeast'
coffee_['region'].loc[947] = ' Central'
coffee_['region'].value_counts()

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

 Central      767
 Southeast    106
 Southwest     59
 Northwest     51
 Northeast     17
Name: region, dtype: int64

In [32]:
price_ = pd.get_dummies(coffee_['price'])
region_ = pd.get_dummies(coffee_['region'])
region_.head()

    Central   Northeast   Northwest   Southeast   Southwest
0         1           0           0           0           0
1         1           0           0           0           0
2         1           0           0           0           0
3         1           0           0           0           0
4         1           0           0           0           0

In [33]:
frames = [coffee_,price_,region_]
coffee_f = pd.concat(frames,axis=1)
coffee_f=coffee_f.drop(['price','address','latitude','longitude','region'],axis=1)
coffee_f.rename(columns = {'alias':'item_id'}, inplace = True)
coffee_f.head()

,item_id,$,$$,$$$,$$$$,Central,Northeast,Northwest,Southeast,Southwest
0,nylon-coffee-roasters-singapore,1,0,0,0,1,0,0,0,0
1,five-oars-coffee-roasters-singapore-2,0,1,0,0,1,0,0,0,0
2,the-wired-monkey-singapore-singapore,1,0,0,0,1,0,0,0,0
3,glasshouse-singapore,0,1,0,0,1,0,0,0,0
4,tiong-hoe-specialty-coffee-singapore-3,1,0,0,0,1,0,0,0,0

In [17]:
interactions = pd.concat([train,val,test])
interactions.head()

                  user_id                                 item_id  rating
0  -5YMIME_WEin_by41Bj-3Q                  liho-tea-singapore-117     3.0
1  -5YMIME_WEin_by41Bj-3Q          old-hen-coffee-bar-singapore-2     4.0
2  -5YMIME_WEin_by41Bj-3Q           two-men-bagel-house-singapore     4.0
3  -5YMIME_WEin_by41Bj-3Q  old-airport-road-food-centre-singapore     5.0
4  -G1YjYxjDpxOBzFgo36ORA                 the-book-cafe-singapore     3.0

In [34]:
#check
items = list(coffee_f['item_id'].unique())
missing = []
for item in items:
  if item not in list(interactions['item_id'].unique()):
    missing.append(item)

missing

['glasshouse-singapore',
 'craftsmen-specialty-coffee-singapore-4',
 'hygge-singapore',
 'apartment-coffee-singapore',
 'arabica-singapore-3',
 'bettr-barista-coffee-academy-singapore',
 'tcc-the-connoisseur-concerto-singapore-13',
 'the-autobus-singapore',
 'upside-down-coffee-alternatives-singapore',
 'dutch-colony-coffee-singapore-2',
 'the-quarters-singapore',
 'o-coffee-club-singapore-4',
 'chaiholics-singapore-3',
 'ya-kun-kaya-toast-singapore-42',
 'ten-cafe-singapore',
 'tai-hwa-coffee-stall-singapore',
 'compound-coffee-co-singapore',
 'the-coffee-stop-singapore',
 'o-coffee-club-singapore-9',
 'limaa-singapore',
 'got-luck-cafe-singapore',
 'laaf-singapore',
 'brew-maison-singapore',
 'starbucks-singapore-103',
 'ya-kun-kaya-toast-singapore-48',
 'quan-chin-cafe-singapore',
 'killiney-singapore-8',
 'dot-and-dash-singapore',
 'the-coffee-bean-and-tea-leaf-singapore-38',
 'k88-coffee-house-singapore',
 'cafe-nido-singapore',
 'ya-kun-kaya-toast-singapore-40',
 'ya-kun-kaya-toast-singapore-44',
 'starbucks-singapore-92',
 'caf-kapok-singapore',
 'blocs-singapore',
 'yogart-singapore',
 'olivia-and-co-singapore-2',
 'starbucks-singapore-37',
 'harrys-bar-singapore-2',
 '20-grams-speciality-coffee-singapore',
 'little-oasis-singapore',
 'starbucks-singapore-140',
 'chocolate-mark-singapore',
 'my-melody-cafe-singapore-singapore',
 'toast-box-singapore-10',
 'toast-box-singapore-23',
 'cawaii-koohii-singapore',
 'toast-box-no-title-4',
 'the-coffee-bean-and-tea-leaf-singapore-56',
 'espressivo-cafe-singapore',
 'starbucks-singapore-91',
 'hoshino-coffee-singapore-7',
 'the-flame-cafe-singapore',
 'the-coffee-bean-and-tea-leaf-singapore-9',
 'black-barista-coffee-world-singapore',
 'the-good-boys-juice-and-coffee-bar-singapore',
 'mushroom-cafe-singapore',
 'muzium-cafe-singapore',
 'starbucks-singapore-93',
 'moonstone-a-s-m-singapore',
 'twenty-eight-cafe-singapore',
 'bakery-and-bar-st-marc-singapore-2',
 'starbucks-singapore-141',
 'dimbulah-coffee-singapore',
 'house-of-tau-sar-piah-singapore',
 'dino-cake-house-and-cafe-singapore',
 'toast-box-singapore-40',
 'cafe-del-mar-sentosa-singapore',
 'priv-clarke-quay-singapore',
 'toast-box-singapore-51',
 'odd-one-out-singapore',
 'greater-lot-by-cedele-no-title',
 'old-town-white-coffee-singapore-15',
 'toast-box-singapore-50',
 'dean-and-deluca-singapore-2',
 'yijia-bakery-house-singapore',
 'o-parl-cafe-singapore',
 'the-con-artist-by-the-fourty-thieves-singapore',
 'the-coffee-bean-and-tea-leaf-singapore-37',
 'jew-kit-hainanese-chicken-rice-singapore',
 'yakun-kaya-toast-singapore',
 'heng-heng-coffeeshop-singapore',
 'jamboree-bar-and-cafe-singapore',
 'rookery-singapore',
 'ba-li-ba-singapore',
 'lets-eat-singapore-4',
 'ping-kee-popiah-singapore',
 'shop-wonderland-singapore-2',
 'o-coffee-club-singapore-12',
 'ugly-cake-shop-singapore',
 'lee-siau-ling-cafe-singapore',
 'ibake-singapore',
 'ps-cafe-singapore-9',
 'liho-tea-singapore-53',
 'hill-street-coffee-shop-singapore-2',
 'simplicite-cafe-singapore',
 'earlybird-singapore',
 '365-fruit-juice-and-smoothie-singapore',
 'old-school-delights-singapore-4',
 'plus-eight-two-singapore',
 'xinspa-spaworks-singapore',
 'kim-san-leng-coffeeshop-singapore',
 'poh-ho-restaurant-singapore',
 'pan-delights-singapore',
 'mufiz-cafe-singapore-2',
 'ya-kun-kaya-toast-singapore-34',
 '93-degrees-c-bean-and-leaf-singapore',
 'ya-kun-kaya-toast-singapore-24',
 'segafredo-zanetti-singapore',
 'ohsumi-singapore',
 'mellvin-coffee-shop-singapore',
 'chen-suzhen-dessert-singapore',
 'auntie-teo-place-local-delights-singapore',
 'fun-toast-singapore-4',
 'sapporo-petit-doughnut-singapore',
 'the-coffee-bean-and-tea-leaf-singapore-6',
 'kk-delicacies-singapore',
 'kraftwich-by-swissbake-singapore',
 'cafe-360-outlet-1-singapore',
 'streats-asian-cafe-southern-islands',
 'rochor-food-town-singapore',
 'nya-nya-singapore',
 'bakerzin-united-square-singapore',
 '2good-kitchen-singapore',
 'the-basic-cafe-singapore',
 'gallery-cafe-singapore']

In [35]:
print(len(coffee_f))
item_features=coffee_f[~coffee_f['item_id'].isin(missing)]
print(len(item_features))
item_features.head()

1000
870

,item_id,$,$$,$$$,$$$$,Central,Northeast,Northwest,Southeast,Southwest
0,nylon-coffee-roasters-singapore,1,0,0,0,1,0,0,0,0
1,five-oars-coffee-roasters-singapore-2,0,1,0,0,1,0,0,0,0
2,the-wired-monkey-singapore-singapore,1,0,0,0,1,0,0,0,0
4,tiong-hoe-specialty-coffee-singapore-3,1,0,0,0,1,0,0,0,0
5,mellower-coffee-singapore-188967,0,1,0,0,1,0,0,0,0

In [36]:
from rankfm.rankfm import RankFM
from rankfm.evaluation import hit_rate, reciprocal_rank, discounted_cumulative_gain, precision, recall, diversity

In [37]:
unique_users = train['user_id'].nunique()
unique_items = train['item_id'].nunique()
sparsity = 1 - (len(train) / (unique_users * unique_items))
print("interaction matrix sparsity: {}%".format(round(100 * sparsity, 1)))

interaction matrix sparsity: 99.2%

In [38]:
train_items = np.sort(train.item_id.unique())
train_items[:5]

array(['1983-a-taste-of-nanyang-singapore-2',
       '238-coffee-stall-singapore', '2am-dessert-bar-singapore',
       '2nd-mini-steamboat-delight-singapore',
       '5-the-moments-cafe-singapore'], dtype=object)

In [39]:
item_features_train = item_features[item_features['item_id'].isin(train_items)].reset_index()
item_features_train.drop(['index'],axis=1,inplace=True)
item_features_train.head()

,item_id,$,$$,$$$,$$$$,Central,Northeast,Northwest,Southeast,Southwest
0,nylon-coffee-roasters-singapore,1,0,0,0,1,0,0,0,0
1,five-oars-coffee-roasters-singapore-2,0,1,0,0,1,0,0,0,0
2,the-wired-monkey-singapore-singapore,1,0,0,0,1,0,0,0,0
3,tiong-hoe-specialty-coffee-singapore-3,1,0,0,0,1,0,0,0,0
4,mellower-coffee-singapore-188967,0,1,0,0,1,0,0,0,0

In [40]:
#check
sorted(train['item_id'].unique())==sorted(item_features_train['item_id'].unique())

True

In [41]:
val_items = np.sort(val.item_id.unique())
item_features_val = item_features[item_features['item_id'].isin(val_items)].reset_index()
item_features_val.drop(['index'],axis=1,inplace=True)
item_features_val.head()

,item_id,$,$$,$$$,$$$$,Central,Northeast,Northwest,Southeast,Southwest
0,nylon-coffee-roasters-singapore,1,0,0,0,1,0,0,0,0
1,mellower-coffee-singapore-188967,0,1,0,0,1,0,0,0,0
2,common-man-coffee-roasters-singapore,0,1,0,0,1,0,0,0,0
3,the-coffee-academics-singapore-3,0,1,0,0,1,0,0,0,0
4,chye-seng-huat-hardware-singapore,0,1,0,0,1,0,0,0,0

In [42]:
train_set = train[['user_id','item_id']] #remove the ratings which is the target

Developing the Factorization Machine

In [43]:
model = RankFM(factors=50, 
               loss='warp', 
               max_samples=20, #maximum negative samples
               alpha=0.01, 
               sigma=0.1, 
               learning_rate=0.10, 
               learning_schedule='invscaling') #inverse scaling to decrease learning rate over time
model

In [44]:
model.fit(train_set, 
          item_features=item_features_train, 
          epochs=50, 
          verbose=True)

KeyError: ignored